---
import {
  isSupportedLang,
  LANGUAGES,
  getLocalizedPage,
  useTranslation,
  type Language,
  type PageName,
} from "@/utils/i18n";
import { slugToCanonical } from "@/utils/content";
import Layout from "@/layouts/WithHeader.astro";
import ContactForm from "@/components/forms/ContactForm.astro";

interface Props {
  frontmatter: AboutFrontmatter;
}

interface AboutFrontmatter {
  lang: Language;
  title: string;
  description: string;
}

const PAGE = "contact" satisfies PageName;

const { frontmatter } = Astro.props;
const { lang } = frontmatter;

if (!isSupportedLang(lang)) {
  return Astro.redirect(`/404?from=${Astro.url.pathname}`);
}

const translations = LANGUAGES.filter(l => l !== lang).map(language => ({
  lang: language,
  slug: getLocalizedPage(language, PAGE),
}));

const { origin } = Astro.url;

const canonical = slugToCanonical(getLocalizedPage(lang, PAGE), origin);
const t = useTranslation(lang);
---

<Layout lang={lang} canonical={canonical} description={t("page_descriptions", PAGE)} title={t("navigation", PAGE)}>
  <Fragment slot="head">
    {
      translations.map(translation => (
        <link rel="alternate" href={slugToCanonical(translation.slug, origin)} hreflang={translation.lang} />
      ))
    }
  </Fragment>
  <main class="h-full min-h-screen">
    <div class="h-full min-h-screen w-full">
      <div class="grid h-full min-h-screen items-center gap-4 lg:grid-cols-2">
        <div class="h-full items-center bg-blue-200 px-6 py-4 dark:bg-slate-950 sm:px-8 lg:py-12 xl:p-32">
          <div class="prose dark:prose-invert xl:prose-lg grid h-full items-center">
            <div class="container">
              <h1 class="text-5xl text-blue-800 dark:text-blue-100">{frontmatter.title}</h1>
              <p class="m-0 text-xl text-slate-600 dark:text-slate-400">{frontmatter.description}</p>
              <slot />
            </div>
          </div>
        </div>
        <div class="px-6 py-4 sm:px-8 lg:py-12 xl:px-24" id="contact-form">
          <ContactForm lang={lang} />
        </div>
      </div>
    </div>
  </main>
</Layout>

<style></style>
