---
import {
  isSupportedLang,
  LANGUAGES,
  getLocalizedPage,
  useTranslation,
  type Language,
  type PageName,
} from "@/utils/i18n";
import { slugToCanonical } from "@/utils/content";
import Layout from "@/layouts/WithHeader.astro";
import ContactForm from "@/components/forms/ContactForm.astro";
import FullWidthBlock from "@/components/content/FullWidthBlock.astro";

interface Props {
  frontmatter: AboutFrontmatter;
}

interface AboutFrontmatter {
  lang: Language;
  title: string;
  description: string;
}

const PAGE = "contact" satisfies PageName;

const { frontmatter } = Astro.props;
const { lang } = frontmatter;

if (!isSupportedLang(lang)) {
  return Astro.redirect(`/404?from=${Astro.url.pathname}`);
}

const translations = LANGUAGES.filter(l => l !== lang).map(language => ({
  lang: language,
  slug: getLocalizedPage(language, PAGE),
}));

const { origin } = Astro.url;

const canonical = slugToCanonical(getLocalizedPage(lang, PAGE), origin);
const t = useTranslation(lang);
---

<Layout lang={lang} canonical={canonical} description={t("page_descriptions", PAGE)} title={t("navigation", PAGE)}>
  <Fragment slot="head">
    {
      translations.map(translation => (
        <link rel="alternate" href={slugToCanonical(translation.slug, origin)} hreflang={translation.lang} />
      ))
    }
  </Fragment>
  <main>
    <div class="container mx-auto w-full">
      <FullWidthBlock withContainer class="mb-12 bg-blue-50 dark:bg-gray-900">
        <h1 class="mb-4 mt-12 text-6xl font-bold">{frontmatter.title}</h1>
        <p class="text-xl text-slate-600 dark:text-slate-400">{frontmatter.description}</p>
      </FullWidthBlock>
      <div class="grid md:grid-cols-2">
        <div>
          <div class="prose dark:prose-invert xl:prose-lg prose-code:text-blue-800 dark:prose-code:text-blue-200">
            <slot />
          </div>
        </div>
        <ContactForm lang={lang} />
      </div>
    </div>
  </main>
</Layout>

<style></style>
