---
import { Image } from "astro:assets";
import Layout from "@/layouts/WithHeader.astro";
import { getLocalizedPage, useTranslation, type Language, LANGUAGES } from "@/utils/i18n";
import { getBlogEntry, slugToCanonical } from "@/utils/content";
import FullWidthBlock from "@/components/content/FullWidthBlock.astro";
import FeaturedPost from "@/components/content/FeaturedPost.astro";
import Testimonials from "@/components/Testimonials/Container.astro";
import ProfilePic from "@/assets/images/profile.jpg";
interface Props {
  lang: Language;
  featuredPostSlug: string;
}

const { lang, featuredPostSlug } = Astro.props;
const canonical = slugToCanonical(getLocalizedPage(lang, "home"));

const featuredPost = await getBlogEntry(featuredPostSlug);

const blogURL = getLocalizedPage(lang, "blog");
const translations = LANGUAGES.filter(l => l !== lang).map(language => ({
  lang: language,
  slug: slugToCanonical(getLocalizedPage(language, "home"), Astro.url.origin),
}));

const t = useTranslation(lang);
---

<Layout
  canonical={canonical}
  lang={lang}
  description={t("page_descriptions", "home")}
  title={t("navigation", "home")}
  translations={translations}
>
  <main class="mx-auto w-full px-8 container">
    <FullWidthBlock
      withContainer
      class="overflow-hidden from-blue-100 to-blue-200 bg-gradient-to-tl text-xl leading-8 text-slate-800 shadow dark:bg-slate-950 dark:from-slate-900 dark:to-slate-950 lg:py-32 dark:text-slate-300"
    >
      <!-- Bootstrap times :D -->
      <div class="grid items-center gap-8 lg:grid-cols-3 md:grid-cols-2 md:gap-32">
        <div class="lg:col-span-2"><slot name="jumbotron" /></div>
        <div class="w-fit justify-self-center rounded-xl bg-blue-800/90 shadow-sm hover:shadow-md">
          <Image
            alt=""
            src={ProfilePic}
            width={500}
            height={500}
            loading="eager"
            class="md:max-full block max-w-full w-52 rotate-3 rounded-md transition-transform md:w-96 sm:w-72 hover:rotate-0 hover:scale-95 hover:rounded-lg"
          />
        </div>
      </div>
    </FullWidthBlock>
    <div class="gap-8 py-16 lg:grid lg:grid-cols-2 xl:py-32">
      <div class="prose prose-a:no-underline dark:prose-invert xl:prose-lg">
        <slot name="blog" />
        <a
          href={blogURL}
          class="mt-12 hidden rounded-md bg-white px-6 py-3 text-center font-semibold shadow ring ring-slate-100 transition-all lg:inline-block active:bg-blue-200/80 dark:bg-slate-700 hover:bg-blue-200 dark:ring-slate-800 hover:ring-blue-100 dark:ring-offset-slate-800 dark:active:bg-slate-900/80 dark:hover:bg-slate-900 dark:hover:ring-slate-950/50"
          rel="prefetch">{t("ui", "view_all_posts")}</a
        >
      </div>
      <div class="mt-8 lg:mt-0">
        {featuredPost && <FeaturedPost post={featuredPost.entry} meta={featuredPost.meta} />}
        <a
          href={blogURL}
          class="mt-12 block rounded-md bg-white px-6 py-3 text-center font-semibold shadow ring ring-slate-100 transition-all lg:hidden active:bg-blue-200/80 dark:bg-slate-700 hover:bg-blue-200 dark:ring-slate-800 hover:ring-blue-100 dark:ring-offset-slate-800 dark:active:bg-slate-900/80 dark:hover:bg-slate-900 dark:hover:ring-slate-950/50"
          rel="prefetch">{t("ui", "view_all_posts")}</a
        >
      </div>
    </div>
    <FullWidthBlock withContainer class="bg-slate-200 py-16 dark:bg-slate-900 xl:py-32">
      <div class="space-y-8 md:space-y-12">
        <div class="prose mx-auto dark:prose-invert xl:prose-lg">
          <slot name="testimonials" />
        </div>
        <div class="mt-8 lg:mt-0">
          <Testimonials lang={lang} />
        </div>
      </div>
    </FullWidthBlock>
  </main>
</Layout>
