---
import Layout from "@/layouts/WithHeader.astro";
import { getLocalizedPage, useTranslation, type Language, LANGUAGES } from "@/utils/i18n";
import { getBlogEntry, slugToCanonical } from "@/utils/content";
import FullWidthBlock from "@/components/content/FullWidthBlock.astro";
import FeaturedPost from "@/components/content/FeaturedPost.astro";
import Testimonials from "@/components/Testimonials/Container.astro";

interface Props {
  lang: Language;
  featuredPostSlug: string;
}

const { lang, featuredPostSlug } = Astro.props;
const canonical = slugToCanonical(getLocalizedPage(lang, "home"));

const featuredPost = await getBlogEntry(featuredPostSlug);

const blogURL = getLocalizedPage(lang, "blog");
const translations = LANGUAGES.filter(l => l !== lang).map(language => ({
  lang: language,
  slug: slugToCanonical(getLocalizedPage(language, "home"), Astro.url.origin),
}));

const t = useTranslation(lang);
---

<Layout canonical={canonical} lang={lang} description={t("page_descriptions", "home")} title={t("navigation", "home")}>
  <Fragment slot="head">
    {translations.map(translation => <link rel="alternate" href={translation.slug} hreflang={translation.lang} />)}
  </Fragment>
  <main class="container mx-auto w-full px-8">
    <FullWidthBlock
      withContainer
      class="bg-gradient-to-tl from-blue-100 to-blue-200 text-xl leading-8 text-slate-800 shadow dark:bg-slate-950 dark:from-slate-900 dark:to-slate-950 dark:text-slate-300 lg:py-64"
    >
      <!-- Bootstrap times :D -->
      <slot name="jumbotron" />
    </FullWidthBlock>
    <div class="gap-8 py-16 lg:grid lg:grid-cols-2 xl:py-32">
      <div class="prose dark:prose-invert xl:prose-lg prose-a:no-underline">
        <slot name="blog" />
        <a
          href={blogURL}
          class="mt-12 hidden rounded-md bg-white px-6 py-3 text-center font-semibold shadow ring ring-slate-100 transition-all hover:bg-blue-200 hover:ring-blue-100 active:bg-blue-200/80 dark:bg-slate-700 dark:ring-slate-800 dark:ring-offset-slate-800 dark:hover:bg-slate-900 dark:hover:ring-slate-950/50 dark:active:bg-slate-900/80 lg:inline-block"
          rel="prefetch">{t("ui", "view_all_posts")}</a
        >
      </div>
      <div class="mt-8 lg:mt-0">
        {featuredPost && <FeaturedPost post={featuredPost.entry} meta={featuredPost.meta} />}
        <a
          href={blogURL}
          class="mt-12 block rounded-md bg-white px-6 py-3 text-center font-semibold shadow ring ring-slate-100 transition-all hover:bg-blue-200 hover:ring-blue-100 active:bg-blue-200/80 dark:bg-slate-700 dark:ring-slate-800 dark:ring-offset-slate-800 dark:hover:bg-slate-900 dark:hover:ring-slate-950/50 dark:active:bg-slate-900/80 lg:hidden"
          rel="prefetch">{t("ui", "view_all_posts")}</a
        >
      </div>
    </div>
    <FullWidthBlock withContainer class="bg-slate-200 py-16 dark:bg-slate-900 xl:py-32">
      <div class="space-y-8 md:space-y-12">
        <div class="prose mx-auto dark:prose-invert xl:prose-lg">
          <slot name="testimonials" />
        </div>
        <div class="mt-8 lg:mt-0">
          <Testimonials lang={lang} />
        </div>
      </div>
    </FullWidthBlock>
  </main>
</Layout>
