---
import { getPosts, BasicPost } from "../../utils/posts";
interface Props {
  post: BasicPost;
}

export function getStaticPaths() {
  const posts = getPosts();

  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;

// const url = getCanonical(getPermalink(post.slug, 'post'))
const meta = {
  title: `${post.title} — TaverasMisael`,
  description: post.excerpt,
  canonical: post.slug,
  ogTitle: post.title,
  ogType: "article",
};
---

<head>
  <meta charset="utf-8" />
  <title>{meta.title}</title>
  <meta name="description" content={meta.description} />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@TaverasMisael" />
  <meta name="twitter:title" content={meta.ogTitle} />
  <meta name="twitter:description" content={meta.description} />
  <meta name="twitter:creator" content="@TaverasMisael" />
  <meta property="og:title" content={meta.ogTitle} />
  <meta property="og:type" content={meta.ogType} />
  <meta property="og:url" content={meta.canonical} />
  <meta property="og:description" content={meta.description} />
  <meta property="og:site_name" content="TaverasMisael" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:image" content={post.banner} />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <link rel="canonical" href={meta.canonical} />
  <link rel="icon" href="/favicon.ico" />
</head>
<article
  class="prose prose-slate lg:prose-lg prose-headings:text-slate-800 prose-img:rounded-sm prose-img:shadow-sm mx-auto"
>
  <h1>{post.title}</h1>
  <post.Content />
</article>
