---
import { Image } from "astro:assets";
import logo from "@/assets/brand/logo-REPLACE.svg";
import Nav from "./Nav.astro";

const basePath = Astro.url.pathname
---

<header class="fixed top-0 w-full bg-white shadow-md transition-transform dark:bg-slate-950">
  <div class="mx-auto max-w-7xl px-2 sm:border-none sm:px-6 lg:px-8">
    <div class="relative flex h-20 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button
          type="button"
          class="inline-flex items-center justify-center rounded-md p-2 dark:hover:bg-gray-700"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            ></path>
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex shrink-0 items-center">
          <a href="/">
            <span class="sr-only">Misael Taveras</span>
            <Image
              class="block h-8 w-auto"
              alt="Misael Taveras Logo"
              aria-hidden={true}
              src={logo.src}
              width={logo.width}
              height={logo.height}
            />
          </a>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <Nav activePage={basePath} />
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2">
        <button class="rounded-full p-2 hover:bg-blue-100/40 dark:hover:bg-gray-700/40 dark:hover:text-white">
          <span class="sr-only">Search</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="mobile-menu grid transition-all sm:hidden" id="mobile-menu" aria-hidden="true">
    <div class="overflow-hidden"><Nav isMobile activePage={basePath} /></div>
  </div>
</header>

<script src="./utils/mobile-menu.ts"></script>
<style>
  .mobile-menu {
    grid-template-rows: 0fr;
  }

  .mobile-menu.open {
    grid-template-rows: 1fr;
  }
</style>
