---
import { Image } from "astro:assets";
import logo from "@/assets/brand/logo-REPLACE.svg";
import { getLangFromUrl, type Language } from "@/utils/i18n";

interface Props {
  lang?: Language;
}

const lang = Astro.props.lang ?? getLangFromUrl(Astro.url, true);
---

<header class="relative top-0 w-full bg-slate-50 shadow-md dark:bg-gray-900">
  <div class="mx-auto max-w-7xl px-2 sm:border-none sm:px-6 lg:px-8">
    <div class="relative flex h-20 items-center justify-between">
      <a href={`/${lang}`}>
        <span class="sr-only">Misael Taveras</span>
        <Image
          class="block h-8 w-auto"
          alt="Misael Taveras Logo"
          aria-hidden={true}
          src={logo.src}
          width={logo.width}
          height={logo.height}
        />
      </a>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2">
        <button class="rounded-full p-2 hover:bg-blue-100/40 dark:hover:bg-gray-700/40 dark:hover:text-white">
          <span class="sr-only">Search</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
