---
import type { Language } from "@/utils/i18n";
import { getEntriesByLang } from "@/utils/content";

interface Props {
  lang: Language;
}
const { lang } = Astro.props;
const testimonials = await getEntriesByLang("testimonial", lang);
---

<section
  class="testimonial mx-auto grid h-full max-w-md bg-white p-4 shadow-sm ring-2 ring-white dark:bg-black dark:ring-black"
>
  <div id="lyrics" class="mx-auto mb-8 max-h-80 overflow-auto rounded-md bg-red-500 p-4">
    <div class="m-auto max-w-xl text-2xl font-semibold leading-relaxed text-red-950">
      <p>
        <span class="text-slate-50/90">Es excepcional como compa침ero de trabajo.</span>
        Sus conocimientos y habilidades en el 치rea son bastante s칩lidos. Tiene una gran habilidad para ense침ar.
      </p><p>
        Misael Se preocupa por su equipo. A la fecha de hoy sigue siendo mi mentor en mis proyectos personales y
        profesionales, apoya mis ideas de forma incondicional.
      </p>
    </div>
  </div>
  <div id="player" class="relative grid grid-cols-3 items-center gap-2 px-2 md:gap-4">
    <div id="progress-bar" class="absolute -top-3 left-0 h-1 w-full overflow-hidden rounded bg-slate-700">
      <div id="progress" class="absolute left-0 top-0 h-1 w-1/2 rounded bg-red-50"/>
    </div>
    <div id="current" class="col-span-2 inline-flex items-center space-x-2">
      <img
        src="https://avatars.githubusercontent.com/u/40646537?v=4"
        alt="Avatar of Jonathan"
        class="h-8 w-8 rounded"
      />
      <p class="text-xs leading-4">
        <strong class="block text-sm font-semibold text-gray-900 underline-offset-2 hover:underline dark:text-gray-100"
          ><a href="to.do">Efrain Peralta</a></strong
        >
        <span class="text-gray-500 dark:text-gray-400">Founder @ Turnly</span>
      </p>
    </div>
    <div id="controls" class="flex flex-1 justify-center">
      <div class="flex items-center gap-2 text-slate-600 dark:text-blue-50 lg:gap-4">
        <button type="button" aria-label="Previous"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 lg:w-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953l7.108-4.062A1.125 1.125 0 0121 8.688v8.123zM11.25 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953L9.567 7.71a1.125 1.125 0 011.683.977v8.123z"
            ></path>
          </svg>
        </button>
        <button type="button" aria-label="Play"
          ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 lg:w-8">
            <path
              fill-rule="evenodd"
              d="M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <button type="button" aria-label="Next"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 lg:w-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062A1.125 1.125 0 013 16.81V8.688zM12.75 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062a1.125 1.125 0 01-1.683-.977V8.688z"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>

<style>
  .testimonial {
    grid-template-rows: 1fr 50px;
  }
</style>

<!-- <section class="space-y-8">
  {
    testimonials.map(t => (
      <blockquote class="p-4">
        <p>
          <em>{t.entry.data.quote}</em>
        </p>
        <div class="mt-4 flex items-center space-x-4">
          <img src={t.entry.data.image} alt="" class="h-12 w-12 rounded-full" width="48" height="48" />
          <div class="text-sm font-medium not-italic">
            <span class="block text-gray-900 hover:text-blue-700 hover:underline dark:text-slate-100 dark:hover:text-white">
              <a href={t.entry.data.link} rel="external nofollow" target="_blank">
                {t.entry.data.name}
              </a>
            </span>
            <span class="text-gray-500 dark:text-gray-400">{t.entry.data.title}</span>
          </div>
        </div>
      </blockquote>
    ))
  }
</section> -->

<!-- <blockquote>
  <p>
    <em>
      Misael is a very talented developer. He is a great communicator and is always willing to help. He is very
      knowledgeable and is always looking to learn new things. He is a great asset to any team.
    </em>
  </p>
  <div class="mt-4 flex items-center space-x-4">
    <img
      src="https://avatars.githubusercontent.com/u/8240480?v=4"
      alt="Avatar of Jonathan"
      class="h-12 w-12 rounded-full"
    />
    <div class="text-sm font-medium not-italic">
      <span class="block text-gray-900 dark:text-gray-100">Jonathan</span>
      <span class="text-gray-500 dark:text-gray-400">Software Engineer</span>
    </div>
  </div>
</blockquote> -->
