---
import Layout from "@/layouts/WithHeader.astro";
import { isSupportedLang, DEFAULT_LOCALE, LANGUAGES } from "@/utils/i18n";
import { slugToCanonical } from "@/utils/content";

interface Params {
  lang: string;
}

const { lang } = Astro.params as unknown as Params;

if (!isSupportedLang(lang)) {
  return Astro.redirect(`/404?from=${Astro.url.pathname}`);
}

const translations = LANGUAGES.filter(l => l !== lang).map(language => ({
  lang: language,
  slug: `/${language}`,
}));

const { origin } = Astro.url;

const canonical = slugToCanonical(lang === DEFAULT_LOCALE ? "/" : `/${lang}`, origin);
---

<Layout lang={lang} canonical={canonical} description="HOME" title="Misael Taveras web">
  <Fragment slot="head">
    {
      translations.map(translation => (
        <link rel="alternate" href={slugToCanonical(translation.slug, origin)} hreflang={translation.lang} />
      ))
    }
  </Fragment>
  <main>
    <h1>Welcome to taverasmisael <span class="text-gradient bg-gradient-to-tr from-slate-400 to-blue-500">v2</span></h1>
  </main>
</Layout>
