---
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import { DEFAULT_LOCALE } from "@/utils/i18n";
export interface Props {
  title: string;
  lang?: string;
  description: string;
  class?: string;
}

const { title, class: className, description, lang = DEFAULT_LOCALE } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} — Misael Taveras</title>
    <meta name="description" content={description} />
  </head>
  <body class="bg-slate-50 text-slate-900 dark:bg-gray-800 dark:text-slate-100" class:list={className}>
    <Header />
		<!-- This is a hack to prevent the header from overlapping the content -->
		<div aria-hidden="true" class="h-20" />
    <slot />
    <Footer />
  </body>
</html>
