---
import { DEFAULT_LOCALE } from "@/utils/i18n";
import type { DefaultLayoutProps } from "./types";

type Props = DefaultLayoutProps;

const {
  title,
  description,
  fullHeight,
  canonical,
  lang = DEFAULT_LOCALE,
  class: className,
  ["class:list"]: classList,
} = Astro.props;
---

<!DOCTYPE html>
<html lang={lang} class:list={{ "h-screen": fullHeight }}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="docsearch:language" content={lang}>
    <meta name="generator" content={Astro.generator} />
    <title>{title} — Misael Taveras</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonical} />
    <link rel="sitemap" href="/sitemap.xml" />
    <slot name="head" />
  </head>
  <body class="bg-slate-50 text-slate-900 dark:bg-gray-800 dark:text-slate-100" class:list={[className, classList]}>
    <slot />
  </body>
</html>
