---
import { DEFAULT_LOCALE } from "@/utils/i18n";
import type { DefaultLayoutProps } from "./types";
import "./styles.css";
import CommandBar from "@/components/command-bar/CommandBar";
import OpenGraphTags from "@/components/layout/OpenGraphTags.astro";
import { slugToCanonical } from "@/utils/content";
import Footer from "@/components/layout/Footer.astro";

type Props = DefaultLayoutProps;

const {
  title: propsTitle,
  description,
  fullHeight,
  canonical,
  image: propsImage,
  ogType = "website",
  lang = DEFAULT_LOCALE,
  translations = [],
  class: className,
  ["class:list"]: classList,
} = Astro.props;

const title = `${propsTitle} — Misael Taveras`;
const image = propsImage ?? slugToCanonical(`/default-og-${lang}.png`);
const { origin } = Astro.url;
---

<!DOCTYPE html>
<html lang={lang} class:list={{ "h-screen": fullHeight }}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="theme-color" content="hsl(228, 84%, 5%)" media="(prefers-color-scheme: dark)" />
    <meta name="theme-color" content="hsl(0, 0, 100%)" media="(prefers-color-scheme: light)" />
    <meta name="docsearch:language" content={lang} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonical} />
    <link rel="sitemap" href="/sitemap.xml" />
    {
      translations.map(translation => (
        <link rel="alternate" href={slugToCanonical(translation.slug, origin)} hreflang={translation.lang} />
      ))
    }
    <slot name="head" />
    <OpenGraphTags title={title} description={description} lang={lang} image={image} url={canonical} type={ogType} />
    <script is:inline>
      // inline this to avoid layout shifting/color flashes
      const theme=localStorage.getItem("theme")||"auto";if(theme==="dark"){document.documentElement.classList.add("dark")}else if(theme==="auto"&&window.matchMedia("(prefers-color-scheme: dark)").matches){document.documentElement.classList.add("dark")}else{document.documentElement.classList.remove("dark")}
    </script>
  </head>
  <body class="bg-slate-50 text-slate-900 dark:bg-gray-800 dark:text-slate-100" class:list={[className, classList]}>
    <CommandBar lang={lang} client:only="solid-js" />
    <slot />
    <style>
      body:has(dialog[open]) {
        @apply overflow-hidden blur-sm;
      }
    </style>
    <Footer lang={lang} translations={translations} />
    <script src="./keyboard-shortcuts.ts"></script>
  </body>
</html>
