---
import Basic from "./Basic.astro";

import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import { DEFAULT_LOCALE } from "@/utils/i18n";
import type { DefaultLayoutProps } from "./types";

type Props = DefaultLayoutProps;

const {
  title,
  description,
  fullHeight,
  canonical,
  image,
  ogType,
  lang = DEFAULT_LOCALE,
  class: className,
  ["class:list"]: classList,
} = Astro.props;
---

<Basic
  canonical={canonical}
  lang={lang}
  title={title}
  class:list={[className, classList]}
  description={description}
  fullHeight={fullHeight}
  image={image}
  ogType={ogType}
>
  <Fragment slot="head">
    <slot name="head" />
  </Fragment>
  <Header lang={lang} />
  <!-- This is a hack to prevent the header from overlapping the content -->
  <div aria-hidden="true" class="h-20"></div>
  <slot />
  <Footer lang={lang} />
</Basic>
