---
import Basic from "./Basic.astro";

import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import { DEFAULT_LOCALE } from "@/utils/i18n";
import type { DefaultLayoutProps } from "./types";

type Props = DefaultLayoutProps;

const { title, class: className, description, lang = DEFAULT_LOCALE, fullHeight } = Astro.props;
---

<Basic lang={lang} title={title} class:list={className} description={description} fullHeight={fullHeight}>
  <Fragment slot="head">
    <slot name="head" />
  </Fragment>
  <Header />
  <!-- This is a hack to prevent the header from overlapping the content -->
  <div aria-hidden="true" class="h-20"></div>
  <slot />
  <Footer />
</Basic>
