---
import Admonition from "@/components/content/Admonition/Admonition.astro";
import Layout from "@/layouts/Basic.astro";
import { Image } from "astro:assets";
import { getEntryBySlug, type CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"blog">;
}

const entry = await getEntryBySlug("blog", Object.values(Astro.params).join("/"));

if (!entry) {
  return Astro.redirect(`/404?from=${Astro.url.pathname.substring(-1)}`);
}

const { Content } = await entry.render();
const meta = {
  title: `${entry.data.title} — TaverasMisael`,
  description: entry.data.description,
  canonical: entry.slug,
  ogTitle: entry.data.title,
  ogType: "article",
};

const components = {
  // eslint-disable-next-line @typescript-eslint/no-unsafe-assignment
  Admonition: Admonition,
};
---

<Layout lang={Astro.params.lang} description={meta.description} title={entry.data.title}>
  <main
    class="prose prose-slate dark:prose-invert lg:prose-lg 2xl:prose-xl prose-img:mx-auto prose-img:rounded-sm prose-img:shadow-sm mx-auto px-4"
  >
    <article>
      <Image
        alt={entry.data.title}
        src={entry.data.banner.src}
        width={entry.data.banner.width}
        height={entry.data.banner.height}
      />
      <h1>{entry.data.title}</h1>
      <Content components={components} />
    </article>
  </main>
</Layout>
