---
import { getEntryBySlug, CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import FigureImage from "@/components/content/FigureImage.astro";
import Admonition from "@/components/content/Admonition/Admonition.astro";

interface Props {
  entry: CollectionEntry<"posts">;
}

const entry = await getEntryBySlug("posts", Object.values(Astro.params).join("/"));

if (!entry) {
  return Astro.redirect(`/404?from=${Astro.url.pathname.substring(-1)}`);
}

const { Content } = await entry.render();
const meta = {
  title: `${entry.data.title} — TaverasMisael`,
  description: entry.data.description,
  canonical: entry.slug,
  ogTitle: entry.data.title,
  ogType: "article",
};

const components = {
  // eslint-disable-next-line @typescript-eslint/no-unsafe-assignment
  Image: FigureImage,
  // eslint-disable-next-line @typescript-eslint/no-unsafe-assignment
  img: FigureImage,
  // eslint-disable-next-line @typescript-eslint/no-unsafe-assignment
  Admonition: Admonition,
};
---

<html lang={Astro.params.lang}>
  <head>
    <meta charset="utf-8" />
    <title>{meta.title}</title>
    <meta name="description" content={meta.description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@TaverasMisael" />
    <meta name="twitter:title" content={meta.ogTitle} />
    <meta name="twitter:description" content={meta.description} />
    <meta name="twitter:creator" content="@TaverasMisael" />
    <meta property="og:title" content={meta.ogTitle} />
    <meta property="og:type" content={meta.ogType} />
    <meta property="og:url" content={meta.canonical} />
    <meta property="og:description" content={meta.description} />
    <meta property="og:site_name" content="TaverasMisael" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content={entry.data.banner.src} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <link rel="canonical" href={meta.canonical} />
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body class="bg-slate-50 dark:bg-slate-800">
    <main
      class="prose prose-slate dark:prose-invert lg:prose-lg prose-headings:text-slate-800 prose-img:mx-auto prose-img:rounded-sm prose-img:shadow-sm dark:prose-headings:text-slate-100 mx-auto px-4"
    >
      <article>
        <Image
          alt={entry.data.title}
          src={entry.data.banner.src}
          width={entry.data.banner.width}
          height={entry.data.banner.height}
        />
        <h1>{entry.data.title}</h1>
        <Content components={components} />
      </article>
    </main>
  </body>
</html>
