---
import Admonition from "@/components/content/Admonition/Admonition.astro";
import Layout from "@/layouts/Entry.astro";
// @ts-expect-error - Astro@2.4.0 broke the "astro:assets" import
import { Image } from "astro:assets";
import { getBlogEntry, getCollection, type BlogEntry } from "@/utils/content";
import PostTranslations from "@/components/PostTranslations.astro";
import type { Language } from "@/i18n";

// export const prerender = true;
export async function getStaticPaths() {
  // TODO: Only get the paths for X more recent posts or most popular (not sure how to do this)
  // This is an hybrid integration anyway
  const blogEntries = await getCollection("blog");

  return blogEntries.map(e => {
    const [lang, slug] = e.slug.split("/") as [Language, string];

    return { params: { lang, slug }, props: { post: e } };
  });
}

interface Props {
  post?: BlogEntry;
}

const post = await getBlogEntry(Object.values(Astro.params).join("/"));

if (!post) {
  return Astro.redirect(`/404?from=${Astro.url.pathname}`);
}

const { meta, entry, translations } = post;
const { Content } = await entry.render();

const components = {
  // eslint-disable-next-line @typescript-eslint/no-unsafe-assignment
  Admonition: Admonition,
};
---

<Layout
  canonical={meta.canonical}
  lang={Astro.params.lang as Language}
  description={meta.description}
  title={meta.title}
  translations={translations}
>
  <main
    class="prose prose-slate mx-auto px-4 dark:prose-invert lg:prose-lg 2xl:prose-xl prose-img:mx-auto prose-img:rounded-sm prose-img:shadow-sm"
  >
    <div class="not-prose">
      {!!translations.length && <PostTranslations lang={meta.lang} translations={translations} />}
    </div>
    <article>
      <Image
        alt={entry.data.title}
        src={entry.data.banner.src}
        width={entry.data.banner.width}
        height={entry.data.banner.height}
        class:list={{ "!mt-0": !!translations.length }}
      />
      <h1>{entry.data.title}</h1>
      <Content components={components} />
    </article>
  </main>
</Layout>
