---
import Admonition from "@/components/content/Admonition/Admonition.astro";
import Layout from "@/layouts/Basic.astro";
import { Image } from "astro:assets";
import { getBlogEntry } from "@/utils/content";
import PostTranslations from "@/components/PostTranslations.astro";

const post = await getBlogEntry(Object.values(Astro.params).join("/"));

if (!post) {
  return Astro.redirect(`/404?from=${Astro.url.pathname.substring(-1)}`);
}

const { Content } = await post.entry.render();

const { meta, entry, translations } = post;

const components = {
  // eslint-disable-next-line @typescript-eslint/no-unsafe-assignment
  Admonition: Admonition,
};
---

<Layout lang={Astro.params.lang} description={meta.description} title={meta.title}>
  <main
    class="prose prose-slate mx-auto px-4 dark:prose-invert lg:prose-lg 2xl:prose-xl prose-img:mx-auto prose-img:rounded-sm prose-img:shadow-sm"
  >
    {
      !!translations.length && (
        <div class="not-prose">
          <PostTranslations lang={meta.lang} translations={translations} />
        </div>
      )
    }
    <article>
      <Image
        alt={entry.data.title}
        src={entry.data.banner.src}
        width={entry.data.banner.width}
        height={entry.data.banner.height}
        class:list={{ "!mt-0": !!translations.length }}
      />
      <h1>{entry.data.title}</h1>
      <Content components={components} />
    </article>
  </main>
</Layout>
