---
import Layout from "@/layouts/Basic.astro";
import { DEFAULT_LOCALE } from "@/utils/i18n";
import { getCollection } from "astro:content";

interface Params {
  lang: string;
}

const { lang } = Astro.params as unknown as Params;
const posts = (await getCollection("posts", ({ id }) => id.startsWith(`${lang}/`))).map(p => ({
  ...p,
  slug: p.slug.replace(`${lang}/`, ""),
}));

if (!posts.length) {
  return Astro.redirect(`/${DEFAULT_LOCALE}/blog/?fromLang=${lang}`);
}
---

<Layout title="Misael Taveras web">
  <main>
    <h1>Welcome to taverasmisael <span class="text-gradient">v2</span></h1>
    {
      posts.map(p => (
        <div>
          <h2>
            {p.slug}
            <a href={p.slug} class="text-red-400 underline">
              {p.data.title}
            </a>
          </h2>
        </div>
      ))
    }
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
