---
import { getCollection } from "astro:content";
import { DEFAULT_LOCALE, isSupportedLang } from "@/utils/i18n";
import Layout from "@/layouts/WithHeader.astro";
import FeaturedPost from "@/components/content/FeaturedPost.astro";
import CardPost from "@/components/content/CardPost.astro";

interface Params {
  lang: string;
}

const { lang } = Astro.params as unknown as Params;

if (!isSupportedLang(lang)) {
  return Astro.redirect(`/${DEFAULT_LOCALE}/blog?fromLang=${lang}`);
}

const allPosts = (await getCollection("blog", ({ id }) => id.startsWith(`${lang}/`)))
  .sort((a, b) => (a.data.date > b.data.date ? -1 : 1))
  .map(p => ({
    ...p,
    slug: p.slug.replace(`${lang}`, Astro.url.pathname),
    data: {
      ...p.data,
      date: p.data.date.toLocaleDateString(lang, { year: "numeric", month: "long", day: "numeric" }),
    },
  }));

if (!allPosts.length) {
  return Astro.redirect(`/${DEFAULT_LOCALE}/blog?fromLang=${lang}`);
}
// TODO: add featured post. This can be with a prop in the frontmatter, or by date, or by popularity (not sure who to measure that).
const [featuredPost, ...posts] = allPosts;
---

<Layout title="Misael Taveras web" description="Blog page" class="dark:!bg-gray-900">
  <Fragment slot="head">
    <meta name="twitter:card" content="summary_large_image" />
  </Fragment>
  <main>
    <div class="container mx-auto w-full px-8 py-24">
      <div class="mb-4 grid gap-4 sm:grid-cols-2 md:mb-8 md:grid-cols-3 md:gap-8 lg:grid-cols-4">
        <div class="col-span-full lg:col-span-2"><FeaturedPost post={featuredPost} /></div>
        <!-- Semi featured -->
        <div class="col-span-full divide-y lg:col-span-2">
          <div class="flex h-full flex-col justify-between">
            {posts.slice(0, 2).map(post => <CardPost post={post} />)}
          </div>
        </div>
      </div>
    </div>
    <!-- Rest of the posts -->
    <div class="bg-white dark:bg-gray-800">
      <div class="container mx-auto w-full px-8 py-12">
        <div class="grid gap-x-8 gap-y-4 sm:grid-cols-2 lg:grid-cols-3">
          {posts.slice(2).map(post => <CardPost post={post} />)}
        </div>
      </div>
    </div>
  </main>
</Layout>
