---
import Admonition from "@/components/content/Admonition/Admonition.astro";
import Layout from "@/layouts/Entry.astro";
import { getBlogEntry, slugToCanonical } from "@/utils/content";
import PostTranslations from "@/components/PostTranslations.astro";
import type { Language } from "@/utils/i18n";

interface Params {
  lang: Language;
  slug: string;
}

const post = await getBlogEntry(Object.values(Astro.params as unknown as Params).join("/"));

if (!post) {
  return Astro.redirect(`/404?from=${Astro.url.pathname}`);
}

const { meta, entry, translations } = post;
const { Content } = await entry.render();
const imageURL = slugToCanonical(Astro.url.pathname + "image.svg", Astro.url.origin);

// eslint-disable-next-line
const components = { Admonition: Admonition };
---

<Layout
  canonical={meta.canonical}
  lang={Astro.params.lang as Language}
  description={meta.description}
  title={meta.title}
  translations={translations}
  ogType="article"
  image={imageURL}
>
  <main
    class="prose prose-slate mx-auto mt-4 px-4 dark:prose-invert lg:prose-lg 2xl:prose-xl prose-headings:font-display prose-img:mx-auto prose-img:rounded-sm prose-img:shadow-sm"
  >
    <div class="not-prose">
      {!!translations.length && <PostTranslations lang={meta.lang} translations={translations} />}
    </div>
    <article>
      <h1>{entry.data.title}</h1>
      <Content components={components} />
    </article>
  </main>
</Layout>
